

<div class="" *ngIf="inputFacets.length >=1">
    <label for="test" class="form-label">
        <i class="fa small  fa-hand-point-right"></i> Choose
    </label>
    

    <ng-container *ngFor="let data of inputFacets">

        <div class="form-check">
            <input class="form-check-input" type="radio"  [(ngModel)]="model" 
            (change)="handleChange($event)" name="primaryFilters" [id]="data.facetKey"
            [value]="data.facetKey" >
            <label class="form-check-label small" [for]="data.facetKey">
               {{data.facetKeyDisplayName}} ({{data.count}})
            </label>
        </div>


    </ng-container>



</div>