.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;

  @media screen and (max-width: "1250px") {
    //do Smth
    height: 3.75rem;
  }
}



.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
}

.nav-underline .nav-link {
  padding: 0.75rem 0.7rem;
  font-size: 0.85rem;
  color: #212529;

  @media screen and (max-width: "1330px") {
    //do Smth
    padding: 0.75rem 0.5rem;
  }
  
}



.nav-underline .active {
  font-weight: 500;
  color: white !important;
  background: #007bff;
}
