

.textContent {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    -ms-text-overflow: ellipsis;
}

.linkTitle {
    text-decoration: none;
}

.linkTitle:hover {
    text-decoration: underline;
}