<div class="card  h-100">


    <ng-container *ngIf="boolPreloader">
        <div class="card-body my-4">

            <app-preloader [loader]="boolPreloader"></app-preloader>
        </div>
    </ng-container>


    <ng-container *ngIf="projData">

        <h5 class="card-header bg-dark bg-gradient text-white h4 ">


            <i [ngClass]="swiftId.imageIcon"></i>




            {{projData.config.type}}


            <div class="">


                <span style="font-size: 12px;">
                    <i class="fas fa-calendar-day"></i> Last Updated: {{projData.releaseDate.maxDate }}
                </span>



            </div>



        </h5>


        <div class="card-body">



            <div class="">

                <ng-container *ngFor="let data of projData.records;let last = last">

                    <p [ngClass]="last ? '' : 'border-bottom' " class="card-text small pb-2 ">


                        <span *ngIf="projData.config.type == 'Patents'" class="text-muted me-1">


                            <ng-container *ngIf="data.googleLink">
                                <a class="linkTitle fw-bold " target="_blank"
                                    [href]="data.googleLink">{{data.publicationNumber}}</a> -
                            </ng-container>

                            <ng-container *ngIf="!data.googleLink">
                                {{data.publicationNumber}} -
                            </ng-container>


                        </span>

                        <ng-container *ngIf="data.titleLink">
                            <a class="linkTitle " target="_blank" [href]="data.titleLink">{{data.title}}</a>
                        </ng-container>

                        <ng-container *ngIf="!data.titleLink">
                            {{data.title}}
                        </ng-container>

                    </p>

                </ng-container>



            </div>



        </div>
        <div class="card-footer bg-white text-muted">


            <div class="d-flex justify-content-between align-items-end">
                <h6 class="card-subtitle ">Showing 1-5 of {{projData.total}} records
                    <button type="button" [routerLink]="'/projects/'+ clientId +'/type/'+ projData.config.typeId "
                        class="btn ms-2 btn-sm btn-outline-secondary">View All</button>
                </h6>

            </div>

        </div>

    </ng-container>


</div>