<div class="d-flex justify-content-between mb-2" *ngIf="inputFacets.length >= 1">

  <button [ngClass]="added ? 'btn-success' : 'btn-outline-success' " class="   btn btn-sm" (click)="onApplyFilter()">
    <i class="fas fa-check-square"></i> Apply Filters

  </button>

  <button (click)="onReset()" class="btn btn-sm btn-outline-dark ">
    <i class="fas fa-undo"></i>
    Clear

  </button>


</div>

<ng-container *ngIf="inputFacets.length >= 1">

  <div class="facetOverFlow">

    <ng-container *ngFor="let facet of inputFacets; let first = first">
      <div class="mb-2">
        <label for="exampleFormControlInput1" class="form-label small">

          <i class="fas fa-filter "></i>
          {{facet.facetDisplayName}}

        </label>

        <app-multi-dropdown [selectedTerms]="selectedFullFacets[facet.facetKey]" [mainKey]="facet.facetKey"
          (selectedList)="onAutoSuggestChange($event, facet.facetKey)" [list]="facet.value">
        </app-multi-dropdown>
      </div>


    </ng-container>
    <div class="mt-3 ">

      <ng-container *ngFor="let each of config">



        <div *ngIf="each.dateFilter" class="mb-2">

          <label [attr.for]="each.fieldName" class="form-label small">
            <i class="fa  fa-calendar-day"></i> {{each.displayName}}
          </label>

          <input class="form-control dateFilter" [attr.id]="each.fieldName" [(ngModel)]="selectedDates[each.fieldName]"
            #drp="bsDaterangepicker" placeholder="DD/MM/YYYY - DD/MM/YYYY"
            [bsConfig]="{ rangeInputFormat: 'DD/MM/YYYY', showWeekNumbers: false, showPreviousMonth: true ,containerClass: 'theme-dark-blue' }"
            bsDaterangepicker placement="right">

        </div>



      </ng-container>


    </div>


  </div>



</ng-container>
