<form [formGroup]="graphForm" (ngSubmit)="onSubmit()" class="row ">



    <div class="col-md-4">
        <label for="graphFieldForm" class="form-label">Choose Field</label>
        <select (change)="onFieldChange()" class="form-select"
            [ngClass]="{ 'is-invalid': submitted && f.graphField.errors }" formControlName="graphField"
            id="graphFieldForm">
            <option value="" selected>Choose...</option>

            <ng-container *ngFor="let each of dataHeaders">
                <option *ngIf="each.dataType == 'String'" [value]="each.fieldName">{{each.displayName}}</option>

            </ng-container>

        </select>

        <div *ngIf="submitted && f.graphField.errors" class="invalid-feedback">
            <div *ngIf="f.graphField.errors.required">Field is required</div>
        </div>
    </div>

    <div class="col-md-4">
        <label for="inputPassword4" class="form-label">Choose Values

            <ng-container *ngIf="boolPreloaderAutosuggest">
                <div class="spinner-border spinner-border-sm ms-2" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow spinner-grow-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </ng-container>

            <select name="prefixSelectors" id="Selectors" *ngIf="dataAutosuggestList.length>0" (change)="selectTopItems($event)" >
              <option disabled>Select</option>
              <option [value]="item.value" *ngFor="let item of prefixSelctors">{{item.label}}</option>

            </select>


        </label>

        <div class="bg-white">
            <ng-multiselect-dropdown [ngClass]="{ 'is-invalid': submitted && f.fieldValues.errors }" class="bg-white"
                name="fieldValuesNew" [disabled]="boolPreloaderAutosuggest || !f.graphField.value"
                [placeholder]="'Select'" [data]="dataAutosuggestList" formControlName="fieldValues"
                [settings]="dropdownSettings"
                (onSelect)="onItemSelectController($event)"
                  (onDeSelect)="onItemDeSelectController($event)"

                >

            </ng-multiselect-dropdown>

            <div *ngIf="submitted && f.fieldValues.errors" class="invalid-feedback bg-light">
                <div *ngIf="f.fieldValues.errors.required">Values are required</div>
            </div>
        </div>


    </div>
    <!-- <div class="col-md-4 ">
      <label for="graphFieldForm" class="form-label">Select</label><br>

         <ng-container *ngFor="let item of prefixSelctors" >
          <button type="submit"
              class="btn btn-primary" (click)="selectTopItems(item)" >{{item}}</button>
            </ng-container>



  </div> -->

    <div class="col mt-4 text-right">

        <div>
            <button type="submit" [disabled]="!(graphForm.touched ||  graphForm.dirty) || boolPreloaderGraph"
                class="btn btn-primary">Submit</button>
            <button (click)="onReset()" type="reset" [disabled]="boolPreloaderGraph"
                class="ms-2 btn btn-outline-secondary">Clear</button>

        </div>


    </div>


</form>
