.form-signin {
  width: 100%;
  //max-width: 330px;
  //padding: 15px;
  margin: auto;
}

.cardClass {
  box-shadow: 0 0.5rem 1rem #00000026;
  //border-radius: 1rem;
}

.headerClass{
  background-color: #fff;
  border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.float-input {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}

.form-floating > label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}


.mainDivLogin {
  background-image: url('~/assets/images/loginBackground.jpg');
  background-size: cover;
  background-position: 50%;
}




.poweredBy {
  position: absolute;
  bottom: 0;
//  left: 10%
}

.mainLogoTop {
  position: absolute;
  bottom: 30%;
  left: 5%
}

.benefits {
  font-size: 20px;
  font-weight: 700;
 // color: #fe8b3b;
}


// .mainDivLogin {
//   //background-color: #6c757d9e;
//   background-color: #eee;
// }