<div class="mainDivLogin">
  <div class="">
    <div class=" align-items-center py-5 bg-gray-100 vh-100">
      <div class="container">
        <div class="align-items-center ">
          <div class=" col-md-8 offset-md-2">

            <div class="card cardClass mt-5">




              <div class="row g-0">
                <div class="col-md-7">
                  <div class="mt-5 ms-5">
                    <img src="" class="" style="height: 55px;" src="assets/images/icubefinalwhitebg.png" />
                  </div>


                  <main class="form-signin p-5 pt-3">
                    <form [formGroup]="loginForm" (ngSubmit)="onAuthSubmit()">



                      <h2 class="h5 mb-3 text-muted fw-normal">Please sign in</h2>




                      <div class="form-floating mb-2">
                        <input type="email" class="form-control float-input" id="floatingInput"
                          formControlName="username">
                        <label for="floatingInput">
                          <i class="fas fa-user"></i>
                          Username

                          <span *ngIf="submitted && f.username.errors" class="text-danger ml-2">
                            <span *ngIf="f.username.errors.required">Username is required</span>
                          </span>
                        </label>



                      </div>
                      <div class="form-floating">
                        <input type="password" class="form-control float-input" formControlName="password"
                          id="floatingPassword" placeholder="">
                        <label for="floatingPassword">
                          <i class="fas fa-lock"></i>
                          Password

                          <span *ngIf="submitted && f.password.errors" class="text-danger ml-2">
                            <span *ngIf="f.password.errors.required">Password is required</span>
                            <span *ngIf="f.password.errors.minlength">Atleast 6 characters required</span>

                          </span>
                        </label>




                      </div>



                      <button [disabled]="loading" type="submit" class=" btn btn-lg btn-primary mt-2">

                        <ng-container *ngIf="loading">
                          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                          <span class="sr-only">Loading...</span>
                        </ng-container>
                        <ng-container *ngIf="!loading">
                          <span>Sign in</span>
                        </ng-container>
                      </button>

                      <div class=" mt-2">
                        <span *ngIf="errMsg" class="text-danger">{{errMsg}}</span>
                      </div>



                      <div class="mt-2 ">
                        <a class="small " href="javascript:void(0)" routerLink="/auth/forget">
                          <i class="fas fa-question-circle"></i> Forgot password?</a>

                      </div>











                    </form>




                  </main>

                </div>

                <div class="col-md-5 bg-light ">

                  <div class="d-none d-sm-none p-3 d-md-block">


                    <div class="mt-4">

                      <label 
                      class="benefits">Key Highlights </label>
                    <ul  style="font-size: 18x;">
                      <li >One stop shop for all data types</li>
                      <li >Integrating Information and Insights</li>
                      <li >Highly Intuitive and Dynamic</li>
                      <li >Totally Customizable</li>
                      <li >Fully Secure and Confidential</li>
                    </ul>

                    </div>
                   
                  

                    <div class="mainLogoTop">



                    </div>




                    <div class="poweredBy">

                      <h6 class="small  mb-2">Powered By</h6>

                      <img src="./assets/images/logo_rpl_black.png" class="mb-2" alt="" height="45">


                    </div>




                  </div>


                </div>



              </div>



            </div>


          </div>



        </div>
      </div>
    </div>
  </div>
</div>