

  <a *ngIf="swiftdata.name !== 'Executive Summary'" [routerLink]=" '/projects/' + currentProjectId + '/type/' +  swiftdata.typeId " 
  [routerLinkActive]="['active']" class="nav-link">
  <!-- <i  [ngClass]="routeTypes[swiftdata.name].icon"></i> -->
  <i [ngClass]="swiftdata.imageIcon"></i>

    {{swiftdata.name}}
    <!-- <span class="badge bg-secondary text-white rounded-pill align-text-bottom"> {{swiftdata.count}}</span> -->
  </a>

  

