

<ngx-datatable #myTable [rows]="records" rowHeight="auto" columnMode="flex" [footerHeight]="50" [headerHeight]="60"
    [externalSorting]="true" (sort)="onSort($event)" [loadingIndicator]="loading" [limit]="10" [selectAllRowsOnPage]="false" [selectionType]="'checkbox'"
    [sorts]="[{ prop: 'releaseDate', dir: 'desc' }]" [count]="total" class="material expandable"    >
  <!-- [externalPaging]="true" -->

    <!-- Row Detail Template -->
    <ngx-datatable-row-detail rowHeight="auto" #myDetailRow>
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>


            <div class="container">

                <ng-container *ngFor="let each of config">
                    <ng-container *ngIf="each.optional">

                        <div class="row small mb-2">


                            <div class="col-md-3 fw-bold">
                                {{each.displayName}}

                            </div>

                            <div class="col-md-9">
                                <ng-container *ngIf="row[each.fieldName]">

                                    <div [innerHTML]="row[each.fieldName] | highlightText:highlightObj"> </div>
                                </ng-container>

                                <ng-container *ngIf="!row[each.fieldName]">
                                    -
                                </ng-container>

                            </div>
                        </div>

                    </ng-container>
                </ng-container>


            </div>





        </ng-template>
    </ngx-datatable-row-detail>


      <!-- Column Templates -->

      <!-- <ngx-datatable-column [draggable]="false" [width]="30" [sortable]="false" [canAutoResize]="false"
    [draggable]="false" [resizeable]="false">
      <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelectedState"
        let-selectFn="selectFn">
        <input type="checkbox" [checked]="allRowsSelectedState" (change)="selectFn(!allRowsSelectedState);checkallRecords()" />
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="row.checked"
        let-onCheckboxChangeFn="onCheckboxChangeFn" let-row="row">
        <input type="checkbox" [checked]="row.checked" (change)="onCheckboxChangeFn($event)" />
      </ng-template>
    </ngx-datatable-column> -->

    <ngx-datatable-column [draggable]="false" [width]="30" [sortable]="false" [canAutoResize]="false"
    [draggable]="false" [resizeable]="false">
      <ng-template ngx-datatable-header-template let-value="value" >
        <input type="checkbox" [checked]="isSelectedAll()" (change)="checkUncheckallRecords($event)" *ngIf="records&&records.length!==0" />
        <br>
        <!-- <p>Selece All</p> -->
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="row.checked"
        let-onCheckboxChangeFn="onCheckboxChangeFn" let-row="row">
        <input type="checkbox" [checked]="row.checked" (change)="checkIndividualRecord(row, $event)" />
      </ng-template>
    </ngx-datatable-column>



    <!-- Column Templates -->
    <ngx-datatable-column [width]="80" [resizeable]="false" [sortable]="false" [draggable]="false"
        [canAutoResize]="false">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <button class="linkExpland btn-primary btn btn-sm" href="javascript:void(0)"
                [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
                title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
            </button>
        </ng-template>
    </ngx-datatable-column>

    <ng-container *ngFor="let each of config">
        <ng-container *ngIf="!each.optional">


            <ngx-datatable-column *ngIf="each.fieldName != 'sNo' && each.fieldName != 'title' && each.fieldName != 'publicationNumber' && each.fieldName != 'imageRepresentation' " [prop]="each.fieldName"
                [name]="each.displayName" [resizeable]="false" [flexGrow]="1">

                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>

                    <div [innerHTML]="value | highlightText:highlightObj"> </div>

                </ng-template>

            </ngx-datatable-column>

            <ngx-datatable-column *ngIf="each.fieldName == 'sNo' " [prop]="each.fieldName" [name]="each.displayName"
                [resizeable]="false" [flexGrow]="0.6">
            </ngx-datatable-column>



            <ng-container *ngIf="each.fieldName == 'publicationNumber' ">



                <ngx-datatable-column [prop]="each.fieldName" [name]="each.displayName" [resizeable]="false"
                    [flexGrow]="1">

                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>

                        <ng-container *ngIf="row.googleLink">
                            <a target="_blank" [href]="row.googleLink">{{row.publicationNumber}}</a>
                        </ng-container>

                        <ng-container *ngIf="!row.googleLink">

                            <div [innerHTML]="row[each.fieldName] | highlightText:highlightObj"> </div>

                        </ng-container>

                    </ng-template>


                </ngx-datatable-column>


            </ng-container>


            <ng-container *ngIf="each.fieldName == 'imageRepresentation' ">



              <ngx-datatable-column [prop]="each.fieldName" [name]="each.displayName" [resizeable]="false"
                  [flexGrow]="1">

                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>

                      <ng-container *ngIf="row.imageRepresentation">
                         <app-image-viewer [imageURLs]="row.imageRepresentation" [publicationNumber]="row.publicationNumber" [title]="row.title" ></app-image-viewer>

                      </ng-container>


                  </ng-template>


              </ngx-datatable-column>


          </ng-container>


            <ng-container *ngIf="each.fieldName == 'title' ">



                <ngx-datatable-column [prop]="each.fieldName" [name]="each.displayName" [resizeable]="false"
                    [flexGrow]="1">

                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>

                        <ng-container *ngIf="row.titleLink">
                            <a target="_blank" [href]="row.titleLink">{{row.title}}</a>
                        </ng-container>

                        <ng-container *ngIf="!row.titleLink">

                            <div [innerHTML]="row[each.fieldName] | highlightText:highlightObj"> </div>

                        </ng-container>

                    </ng-template>


                </ngx-datatable-column>


            </ng-container>


        </ng-container>

    </ng-container>


    <ngx-datatable-footer>
      <ng-template
        ngx-datatable-footer-template
        let-rowCount="rowCount"
        let-pageSize="pageSize"
        let-selectedCount="selectedCount"
        let-curPage="curPage"
        let-offset="offset">
        <div style="padding: 5px 10px">
          <!-- <div>
            Rows: {{rowCount}} |
            Size: {{pageSize}} |
            Current: {{curPage}} |
            Offset: {{offset}}  |
            Selected: {{selectedCount}}
          </div> -->

          <div>
              {{ getSelectedCount()}} selected / {{rowCount}} total


          </div>



        </div>
      </ng-template>
    </ngx-datatable-footer>



</ngx-datatable>
