<div style="min-height: 80vh; " class="mainDiv">

  <div class="container my-4">

    <ng-container *ngIf="boolPreloader">
      <div class="card my-4">
        <div class="card-body ">
          <app-preloader [loader]="boolPreloader"></app-preloader>
        </div>
      </div>
    </ng-container>


      <div class="row text-center blink" *ngIf="!this.boolPreloader">
       <a download="Global Search - Updated Features One Page Noter" target="_blank" href="./assets/GlobalSearchNew.pdf">
          <img src="./assets/images/whatsnew.jpg" style="width:120px; height:60px"></a>

      </div>


    <div *ngIf="swiftProjects.length >= 1" class="row">
           <ng-container *ngFor="let proj of swiftProjects">
           <div class="col-md-4 mb-3" *ngIf="getInvalidProjects(proj)">
             <app-card-project [clientId]="currentProjectId" [swiftId]="proj"></app-card-project>

        </div>
      </ng-container>
      </div>

  </div>
</div>
