<div class="row mt-5">
  <div class="col-md-4"></div>
  <div class="col-md-4">

    <div class="card card-shadow ">
      <div class="text-center">
        <!-- <img style="width: 100px; height: 75px;"  class="mt-3" src="./assets/images/MCchamp.png" alt="logo" height="100" /></div> -->
        <img class="img-fluid" style="height: 55px;" class="mt-3 text-center"
          src="assets/images/icubefinalwhitebg.png" />
      </div>

      <div class="card-body">

        <h3 class="page__title  text-center ">Forgot password</h3>
        <form [formGroup]="resetForm" (ngSubmit)="onAuthSubmit()" autocomplete="off">
          <div class="form-group">
            <label class="text-start" for="email">Registered Email Address <span class="text-danger">*</span></label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }"
              id="Email" formControlName="email" aria-describedby="email" autocomplete="off" placeholder="Email" type="email">
            <div *ngIf="f.email.errors &&  f.email.touched " class="text-danger" >
              <div *ngIf="f.email.errors.required"><span class="input-error">Email is required</span></div>
              <div *ngIf="f.email.errors.email"><span class="input-error">Please enter a valid Email</span></div>
            </div>
          </div>
          <div class="form-group mt-3 text-center">
            <button [disabled]="loading||f.email.errors" class="btn btn-primary btn-lg btn-block btnWidth">Send Password
              Reset link
              <ng-container *ngIf="loading">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span class="sr-only">Please wait...</span>
              </ng-container>

            </button>

          </div>

          <p class="mt-2 text-center">A Password reset link will be sent to the Registered Email Address.</p>

          <div class="mt-2 text-center">
            <span> Remeber Password. Go back to<a routerLink="/auth/login" class="link-primary"> Login</a></span>


          </div>
        </form>



      </div>

    </div>


  </div>
  <div class="col-md-4"></div>

</div>
