


$layout-primary-color: #ff8915;
$layout-background-color: #2a3039;

$layout-primary-color-button: #7fa3c74d;
.form-signin {
    width: 100%;

    margin: auto;
  }

  .cardClass {
    box-shadow: 0 0.5rem 1rem #00000026;
    border-radius: 1rem;
  }

  .headerClass{
    background-color: #fff;
    border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
  }


  .account-page {
    display: table-row;
    height: 100%;
    padding: 40px 0;
  }

  .visually-hidden
  {
    display: none;
  }

  .account-center {
    display: table-cell;
    vertical-align: middle;
  }


.account-wrapper {
  display: table;
  table-layout: fixed;
  height: 100%;
  padding: 30px;
  width: 100%;
}


.btnWidth{
   width: 100% !important;
}


