
<div *ngIf="!noRecords">
    <div class="py-1 bg-white text-end me-2">
        <small><i class="fas fa-info-circle"></i> Click on the graph points to see filtered data </small>
    </div>


    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
        style="width: 100%; height: 400px; display: block;"></highcharts-chart>

</div>

<div *ngIf="noRecords">

    <div style="height: 150px;" class="text-center bg-white">

        <h5 class="p-5">No data found</h5>

    </div>

</div>
