<form [formGroup]="graphForm" (ngSubmit)="onSubmit()">

  <div class="row">

    <div class="col-md-8">

      <div class="row">

        <div class="col-md-6 mb-2">
          <label for="graphFieldForm1" class="form-label">Choose Field 1
            <small class="text-muted">({{field1PlaceHolder}})</small> </label>
          <select (change)="onField1Change()" class="form-select"
            [ngClass]="{ 'is-invalid': submitted && f.graphField1.errors }" formControlName="graphField1"
            id="graphFieldForm1">
            <option value="" selected>Choose...</option>

            <ng-container *ngFor="let each of dataHeaders">
              <option *ngIf="each.dataType == 'String'" [value]="each.fieldName">{{each.displayName}}
              </option>

            </ng-container>

          </select>

          <div *ngIf="submitted && f.graphField1.errors" class="invalid-feedback">
            <div *ngIf="f.graphField1.errors.required">Field is required</div>
          </div>
        </div>

        <div class="col-md-6 mb-2">
          <label for="fieldValuesNew1" class="form-label">Choose Values

            <ng-container *ngIf="boolPreloaderAutosuggestMulti1">
              <div class="spinner-border spinner-border-sm ms-2" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow spinner-grow-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </ng-container>

            <select name="prefixSelectors" id="Selectors1" *ngIf="dataAutosuggestListMulti1.length>0"
              (change)="selectTopItems($event,'M1')">
              <option value="Select" disabled>Select</option>
              <option [value]="item.value" *ngFor="let item of prefixSelctors">{{item.label}}</option>
            </select>

          </label>

          <div class="bg-white">
            <ng-multiselect-dropdown [ngClass]="{ 'is-invalid': submitted && f.fieldValues1.errors }" class="bg-white"
              name="fieldValuesForm1" id="fieldValuesNew1"
              [disabled]="boolPreloaderAutosuggestMulti1 || !f.graphField1.value" [placeholder]="'Select'"
              [data]="dataAutosuggestListMulti1" formControlName="fieldValues1" [settings]="dropdownSettings">
            </ng-multiselect-dropdown>

            <div *ngIf="submitted && f.fieldValues1.errors" class="invalid-feedback bg-light">
              <div *ngIf="f.fieldValues1.errors.required">Values are required</div>
            </div>
          </div>


        </div>

        <div class="col-md-6">
          <label for="graphFieldForm2" class="form-label">Choose Field 2
            <small class="text-muted">({{field2PlaceHolder}})</small>
          </label>
          <select (change)="onField2Change()" class="form-select"
            [ngClass]="{ 'is-invalid': submitted && f.graphField2.errors }" formControlName="graphField2"
            id="graphFieldForm2">
            <option value="" selected>Choose...</option>

            <ng-container *ngFor="let each of dataHeaders">
              <option *ngIf="each.dataType == 'String'" [value]="each.fieldName">{{each.displayName}}
              </option>

            </ng-container>

          </select>

          <div *ngIf="submitted && f.graphField2.errors" class="invalid-feedback">
            <div *ngIf="f.graphField2.errors.required">Field is required</div>
          </div>
        </div>

        <div class="col-md-6">
          <label for="fieldValuesNew2" class="form-label">Choose Values

            <ng-container *ngIf="boolPreloaderAutosuggestMulti2">
              <div class="spinner-border spinner-border-sm ms-2" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow spinner-grow-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </ng-container>

         <select name="prefixSelectors1" id="Selectors2" *ngIf="dataAutosuggestListMulti2.length>0"
              (change)="selectTopItems($event,'M2')">
              <option disabled>Select</option>
              <option [value]="item.value" *ngFor="let item of prefixSelctorsY">{{item.label}}</option>
            </select>
          </label>

          <div class="bg-white">
            <ng-multiselect-dropdown [ngClass]="{ 'is-invalid': submitted && f.fieldValues2.errors }" class="bg-white"
              name="fieldValuesFormNew2" id="fieldValuesNew2"
              [disabled]="boolPreloaderAutosuggestMulti2 || !f.graphField2.value" [placeholder]="'Select'"
              [data]="dataAutosuggestListMulti2" formControlName="fieldValues2" [settings]="dropdownSettings">
            </ng-multiselect-dropdown>

            <div *ngIf="submitted && f.fieldValues2.errors" class="invalid-feedback bg-light">
              <div *ngIf="f.fieldValues2.errors.required">Values are required</div>
            </div>
          </div>


        </div>

      </div>

    </div>


    <div class="col-md-4 ">

      <div>
        <button type="submit" [disabled]="!(graphForm.touched ||  graphForm.dirty) || boolPreloaderGraph"
          class="btn btn-primary">Submit</button>
        <button (click)="onReset()" type="reset" [disabled]="boolPreloaderGraph"
          class="ms-2 btn btn-outline-secondary">Clear</button>

      </div>


    </div>


  </div>







</form>
