<form [formGroup]="graphForm" (ngSubmit)="onSubmit()">

  <div  class="row ">
  <div class="col-md-4">
    <label for="graphFieldForm" class="form-label">Date Field</label>
    <select class="form-select" [ngClass]="{ 'is-invalid': submitted && f.graphField.errors }"
      formControlName="graphField" id="graphFieldForm">
      <option value="" selected>Choose...</option>

      <ng-container *ngFor="let each of dataHeaders">
        <option *ngIf="each.dataType == 'Date'" [value]="each.fieldName">{{each.displayName}}</option>

      </ng-container>

    </select>

    <div *ngIf="submitted && f.graphField.errors" class="invalid-feedback">
      <div *ngIf="f.graphField.errors.required">Date Field is required</div>
    </div>
  </div>

  <div class="col-md-4">

    <label for="graphRangeInput" class="form-label">Year Range</label>


    <input class="form-control dateFilter" id="graphRangeInput"
      [ngClass]="{ 'is-invalid': submitted && f.graphRange.errors }" #drp="bsDaterangepicker"
      formControlName="graphRange" placeholder="DD/MM/YYYY - DD/MM/YYYY"
      [bsConfig]="{ rangeInputFormat: 'DD/MM/YYYY', showWeekNumbers: false, showPreviousMonth: true ,containerClass: 'theme-dark-blue' }"
      bsDaterangepicker placement="left">

    <div *ngIf="submitted && f.graphRange.errors" class="invalid-feedback">
      <div *ngIf="f.graphRange.errors.required">Year Range is required</div>
    </div>

  </div>




  <div class="col-md-4 " style="margin-top: 4%;">


    <!-- <label for="graphDatapatternForm" class="form-label">GroupBy</label>
    <select class="form-select" [ngClass]="{ 'is-invalid': submitted && f.graphDataPattern.errors }"
      formControlName="graphDataPattern" id="graphFieldRangeForm2">
      <option value="" selected>Choose...</option>

      <ng-container>
        <option value="month">Monthly</option>
        <option value="year">Yearly</option>

      </ng-container>

    </select>

    <div *ngIf="submitted && f.graphDataPattern.errors" class="invalid-feedback">
      <div *ngIf="f.graphDataPattern.errors.required">GroupBy  is required</div>
    </div>
  </div> -->


  <button type="submit" [disabled]="!(graphForm.touched ||  graphForm.dirty) || boolPreloaderGraph"
  class="btn btn-primary">Submit</button>
<button (click)="onReset()" type="reset" [disabled]="boolPreloaderGraph"
  class="ms-2 btn btn-outline-secondary">Clear</button>



</div>

<div class="row">
  <div class="col-md-4">




    <label for="graphDatapatternForm" class="form-label">GroupBy</label>
    <select class="form-select" [ngClass]="{ 'is-invalid': submitted && f.graphDataPattern.errors }"
      formControlName="graphDataPattern" id="graphFieldRangeForm2">
      <option value="" selected>Choose...</option>

      <ng-container>
        <option value="month">Monthly</option>
        <option value="year">Yearly</option>

      </ng-container>

    </select>

    <div *ngIf="submitted && f.graphDataPattern.errors" class="invalid-feedback">
      <div *ngIf="f.graphDataPattern.errors.required">GroupBy  is required</div>
    </div>
  </div>

  </div>
</div>

</form>




