.form-signin {
    width: 100%;
    //max-width: 330px;
    //padding: 15px;
    margin: auto;
  }
  
  .cardClass {
    box-shadow: 0 0.5rem 1rem #00000026;
    border-radius: 1rem;
  }
  
  .headerClass{
    background-color: #fff;
    border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
  }