<div style="background: #f8f9fa;">
  <div class=" align-items-center py-5 bg-gray-100 vh-100">
    <div class="container">
      <div class="align-items-center row">
        <div class="px-lg-4 offset-md-3 col-md-6">

          <div class="card cardClass">

            <div class=" p-4 px-lg-4 headerClass card-header text-center">
              <img class="img-fluid" style="height: 55px;" src="assets/images/icubefinalwhitebg.png" />


            </div>

            <div *ngIf="boolpreDetails">
              <div class="my-2">
                <app-preloader [loader]="boolpreDetails"></app-preloader>

              </div>
            </div>


            <div *ngIf="!boolShowForm  && boolShowForm1  && !boolpreDetails" class="form-signin p-4 ">
              <h3 class="h4 mb-3 fw-normal text-center">Reset password</h3>



              <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" autocomplete="off"
                *ngIf="!boolShowForm  && boolShowForm1  && !boolpreDetails">
                <div class="form-group p-2">
                  <label for="email">New Password <span class="text-danger">*</span> </label>

                  <div class="input-group">
                    <input type="password" formControlName="password" autocomplete='new-password'
                      class="form-control main-input" placeholder="Please enter New Password"
                      [type]="passwordIconState.newPass ? 'password' : 'text'"
                      [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }" />
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary" type="button" (click)="hideShowEye('newPass')"><i
                          style="color: black;" [ngClass]="passwordIconState.newPass ? 'fa fa-eye-slash ' : 'fa fa-eye'"
                          aria-hidden="true"></i></button>
                    </div>
                  </div>
                  <div *ngIf="f.password.touched && f.password.errors" class="text-danger">
                    <div *ngIf="f.password.errors.required"><span class="input-error">Password is required</span></div>
                    <div *ngIf="f.password.errors.minlength"><span class="input-error">Password should be minimum of 6
                      characters</span></div>

                  </div>
                </div>

                <div class="form-group p-2">
                  <label for="email">Confirm Password <span class="text-danger">*</span> </label>

                  <div class="input-group">

                    <input type="password" formControlName="confirmPassword" placeholder="Confirm Password"
                      [type]="passwordIconState.confirmPass ? 'password' : 'text'" class="form-control main-input"
                      [ngClass]="{ 'is-invalid': f.confirmPassword.touched && f.confirmPassword.errors }" />
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary" type="button" (click)="hideShowEye('confirmPass')"><i
                          style="color: black;"
                          [ngClass]="passwordIconState.confirmPass ? 'fa fa-eye-slash ' : 'fa fa-eye'"
                          aria-hidden="true"></i></button>
                    </div>
                  </div>

                  <div *ngIf="f.confirmPassword.touched && f.confirmPassword.errors" class="text-danger">
                    <div *ngIf="f.confirmPassword.errors.required"><span class="input-error">Confirm Password is
                        required</span></div>
                        <div *ngIf="f.confirmPassword.errors.minlength"><span class="input-error">Password should be minimum of 6
                          characters</span></div>

                    <div *ngIf="f.confirmPassword.errors.mustMatch"><span class="input-error">Passwords must
                        match</span>
                    </div>
                  </div>
                </div>


                <div class="form-group mt-4 text-center">
                  <button [disabled]="loading||this.changePasswordForm.invalid" class="btn  btn-primary">

                    <ng-container *ngIf="loading">
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      <span class="sr-only">Loading...</span>
                    </ng-container>
                    <ng-container *ngIf="!loading">
                      <span>Submit</span>
                    </ng-container>

                  </button>

                </div>

              </form>


            </div>

            <h4 class="my-5" *ngIf="boolShowForm && !boolpreDetails" style="text-align: center;">
              Link Expired <br />
              <a routerLink="/auth/login" class="small mt-2" href="javascript:void(0)">Click here to login</a>
            </h4>

            <h4 class="my-5" *ngIf="!boolShowForm1" style="text-align: center;margin-top: 30%;">
              Your Password changed successfully.<br>
              <a routerLink="/auth/login" class="small mt-2" href="javascript:void(0)">Click here to login</a>
            </h4>


          </div>

        </div>
      </div>
    </div>
  </div>
</div>
