<div *ngIf="!noRecords">

    <div class="my-2 text-end me-2">
        <small><i class="fas fa-info-circle"></i> Click on the graph points to see filtered data </small>
    </div>


    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
        style="width: 100%; height: 550px; display: flex;"></highcharts-chart>

        
</div>


<div *ngIf="noRecords">

    <div style="height: 150px;" class="text-center bg-white">

        <h5 class="p-5"><i class="fas fa-cog"></i> Please configure your charts</h5>

    </div>

</div>