<div class="bg-dark">
    <footer class=" md-5 pt-md-5 text-white container-xl">
        <div class="row">
            <div class="col-md-3">
                <h4 class="mb-3">Contact Us </h4>
                <div class="small mb-3">

                    <p> Heritage Building, #59/2, Kaderanahalli, 100 feet road, Banashankari 2nd Stage,
                        Bangalore 560070, Karnataka, INDIA </p><span> Phone - <br><a rel="noopener noreferrer"
                            class="text-white" href="Phone-+91 9600172339/+91 7982789415">+91 9600172339/ +91
                            7982789415</a>
                    </span><br><span> Email:
                        <a class="text-white" rel="noopener noreferrer" href="priorart@molecularconnections.com">
                            priorart@molecularconnections.com</a>
                    </span>
                </div>
            </div>
            <div class="row col-md-9">
                <div class="col-md-3">
                    <h4 class="mb-3">Services</h4>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-white" rel="noopener noreferrer"
                                href="https://mcresearch.co.in/ip-services/mcprior/" target="_blank">Prior art
                                Searches</a></li>
                        <li><a class="text-white" rel="noopener noreferrer"
                                href="https://mcresearch.co.in/service/freedom-to-operate-search/"
                                target="_blank">Freedom to Operate Search</a></li>
                        <li><a class="text-white" rel="noopener noreferrer"
                                href="https://mcresearch.co.in/service/invalidity-validity-opposition-search/"
                                target="_blank">Validity/Invalidity Search</a></li>
                        <li><a class="text-white" rel="noopener noreferrer"
                                href="https://mcresearch.co.in/service/technology-landscape-whitespace-analysis/"
                                target="_blank">Patent Landscape Analysis</a></li>
                        <li><a class="text-white" rel="noopener noreferrer"
                                href="https://mcresearch.co.in/service/portfolio-analysis-mcscape/"
                                target="_blank">Portfolio Analysis</a></li>
                        <li><a class="text-white" rel="noopener noreferrer"
                                href="https://mcresearch.co.in/ip-services/mcmapp/" target="_blank">Patent to product
                                mapping</a></li>
                        <li><a class="text-white" rel="noopener noreferrer" 
                                href="https://mcresearch.co.in/ip-services/mcmapp/" target="_blank">Claim Charts</a>
                        </li>
                        <li><a class="text-white" rel="noopener noreferrer"
                                href="https://mcresearch.co.in/service/technology-landscape-whitespace-analysis/"
                                target="_blank">Competitive Intelligence</a></li>
                        <li><a class="text-white" rel="noopener noreferrer" href="https://mcresearch.co.in/ip-services/"
                                target="_blank">SEP Searches</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4 class="mb-3">Allied Services</h4>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-white" rel="noopener noreferrer"
                                href="https://mcresearch.co.in/project/chemical-oil/" target="_blank">Chemical
                                Annotation</a></li>
                        <li><a class="text-white" rel="noopener noreferrer"
                                href="https://mcresearch.co.in/service/sequence-search-specialised-services/"
                                target="_blank">Sequence Listings</a></li>
                        <li><a class="text-white" rel="noopener noreferrer"
                                href="https://mcresearch.co.in/project/bio-science-health-care/"
                                target="_blank">Nutrition/ Ingredient Analysis</a></li>
                        <li><a class="text-white" rel="noopener noreferrer"
                                href="https://mcresearch.co.in/paralegal-services/" target="_blank">Paralegal Support
                                services</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4 class="mb-3">Technology area served</h4>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-white" rel="noopener noreferrer"
                                href="https://mcresearch.co.in/project/chemical-oil/" target="_blank">Chemistry & oil
                                Industry</a></li>
                        <li><a class="text-white" rel="noopener noreferrer"
                                href="https://mcresearch.co.in/project/bio-science-health-care/"
                                target="_blank">Pharmaceutical and Biotech</a></li>
                        <li><a class="text-white" rel="noopener noreferrer"
                                href="https://mcresearch.co.in/project/ict-electronics/"
                                target="_blank">Semiconductor</a></li>
                        <li><a class="text-white" rel="noopener noreferrer"
                                href="https://mcresearch.co.in/project/bio-science-health-care/"
                                target="_blank">Consumer Goods</a></li>
                        <li><a class="text-white" rel="noopener noreferrer"
                                href="https://mcresearch.co.in/project/ict-electronics/" target="_blank">Mechanical, IT
                                & Telecommunication</a></li>
                        <li><a class="text-white" rel="noopener noreferrer"
                                href="https://mcresearch.co.in/project/ict-electronics/" target="_blank">Aeronautical
                                and Automobile</a></li>
                        <li><a class="text-white" rel="noopener noreferrer"
                                href="https://mcresearch.co.in/project/ict-electronics/" target="_blank">Robotics and
                                more…</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4 class="mb-3">Resources</h4>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-white" rel="noopener noreferrer"
                                href="http://www.molecularconnections.com/?page_id=14740" target="_blank">Press
                                Releases</a></li>
                        <li><a class="text-white" rel="noopener noreferrer"
                                href="http://www.molecularconnections.com/?page_id=13915" target="_blank">Case
                                Studies</a></li>
                        <li><a class="text-white" rel="noopener noreferrer"
                                href="http://www.molecularconnections.com/?page_id=13921" target="_blank">Research
                                Publications</a></li>
                        <li><a class="text-white" rel="noopener noreferrer"
                                href="http://www.molecularconnections.com/?page_id=13918" target="_blank">White
                                Papers</a></li>
                        <li><a class="text-white" rel="noopener noreferrer"
                                href="http://www.molecularconnections.com/?page_id=19861" target="_blank">Events</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <h4 class="mb-3">Products</h4>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="text-white" rel="noopener noreferrer" href="https://mcresearch.co.in/products/"
                            target="_blank"><i>MCRANK- Get your relevant patents under 10 minutes with high relevancy</i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white" rel="noopener noreferrer" href="https://mcresearch.co.in/product/mcpat/"
                            target="_blank"><i>MCPAT- Intuitive Platform to slide and dice large set of data, visualize and create actionable intelligence</i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white" rel="noopener noreferrer" href="https://mcresearch.co.in/products/"
                            target="_blank"><i>ICube Cognitive – Leaving ordinary monitoring behind!</i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white" rel="noopener noreferrer"
                            href="https://mcresearch.co.in/ip-services/mcmapp/" target="_blank"><i>MCMAPP- Very well curated Claim Charts & EoUs readily available at a click of a button</i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white" rel="noopener noreferrer" href="https://mcresearch.co.in/product/mcpairs/"
                            target="_blank"><i>MCPAIRS- First full text Indian Patent database</i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white" rel="noopener noreferrer" href="https://mcresearch.co.in/product/ipls/"
                            target="_blank"><i>IPLS- First Legal status data of Indian Patents</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mt-5">
                <h4 class="mb-3">Powered By</h4>
                <img src="./assets/images/logo_rpl.png" class="" alt="" height="70">
            </div>
        </div>
    </footer>
</div>