<div class="my-4">
  <app-preloader [loader]="loading"></app-preloader>
</div>

<div class="">

  <ng-container *ngIf="records.length >= 1">

    <accordion [isAnimated]="true">

      <ng-container *ngFor="let record of records; let first = first">

        <accordion-group [isOpen]="first" class="mb-2">

          <button class="btn btn-outline-light text-start text-dark" accordion-heading type="button">

            <h6 class="mb-0 ">
              <span class="btn-link me-2">
                <i class="fas fa-angle-double-down"></i>
              </span>

              {{record.title}}

            </h6>

          </button>

          <ng-container *ngFor="let each of config">

            <div class="row small mb-2">


              <div class="col-md-3 fw-bold">
                {{each.displayName}}

              </div>

              <div class="col-md-9">
                <ng-container *ngIf="record[each.fieldName]">


                  <ng-container [ngSwitch]="each.fieldName">
                    <ng-container *ngSwitchDefault>

                      <div [innerHTML]="record[each.fieldName] | highlightText:highlightObj">
                      </div>


                    </ng-container>
                    <ng-container *ngSwitchCase="'title'">
                      <ng-container *ngIf="record.titleLink">
                        <a target="_blank" [href]="record.titleLink">{{record.title}}</a>
                      </ng-container>

                      <ng-container *ngIf="!record.titleLink">
                        {{record.title}}
                      </ng-container>
                    </ng-container>

                    <ng-container *ngSwitchCase="'publicationNumber'">
                      <ng-container *ngIf="record.googleLink">
                        <a target="_blank" [href]="record.googleLink">{{record.publicationNumber}}</a>
                      </ng-container>

                      <ng-container *ngIf="!record.googleLink">
                        {{record.title}}
                      </ng-container>
                    </ng-container>



                    <ng-container *ngSwitchCase="'imageRepresentation'">
                      <ng-container *ngIf="record.imageRepresentation">
                        <app-image-viewer [imageURLs]="record.imageRepresentation" [publicationNumber]="record.publicationNumber" [title]="record.title"></app-image-viewer>

                      </ng-container>

                    </ng-container>


                  </ng-container>





                </ng-container>

                <ng-container *ngIf="!record[each.fieldName]">
                  -
                </ng-container>

              </div>
            </div>

          </ng-container>

        </accordion-group>




      </ng-container>

    </accordion>

  </ng-container>

  <ng-container *ngIf="!loading && records.length < 1">

    <div class="my-3 text-center">

      No records found.

    </div>

  </ng-container>

</div>
