<div class="mb-1 mt-2">
    <label for="bassicSearchInput" class="form-label h5">

        <ng-container *ngIf="heading">
            {{heading}}..
        </ng-container>

    </label>
</div>

<form class="row g-3">

  <div class="col-md-2 p-2">

    <input class="form-check-input" type="checkbox" id="selectSearchType" (change)="fieldsChange($event)"  > &nbsp;
    <label class="form-check-label fw-bold" for="selectSearchType"> Exact Search</label></div>


    <div class="col-md-7">

        <div class="input-group">
            <input  (keyup.enter)="onSearch()"  type="text" class="form-control searchBar" name="basicSearch" id="bassicSearchInput"
                [attr.placeholder]="placeholder" [(ngModel)]="inputSearch" aria-label="Search term" >
            <button (click)="onSearch()" [disabled]="boolPreloader" class="btn btn-primary" type="button">
                <i class="fas small fa-search"></i> Search</button>
        </div>
    </div>

    <div class="col-auto">
        <button  (click)="onReset()" [disabled]="boolPreloader" type="reset"
            class="btn btn-outline-secondary ">Reset</button>
    </div>
</form>
