/* You can add global styles to this file, and also import other style files */
@import "assets/scss/main";
@import "@swimlane/ngx-datatable/index.css";
@import "@swimlane/ngx-datatable/themes/material.scss";
@import "@swimlane/ngx-datatable/assets/icons.css";
@import "ngx-bootstrap/datepicker/bs-datepicker.css";
@import "~@ng-select/ng-select/themes/default.theme.css";


.customClass .panel-heading {
   // background: #6c757d;
    padding: 5px;
}

.customClass .panel-body {
    padding: 10px;
}

.datatable-header-cell-label {
    white-space: normal;

}

.ngx-datatable.material .datatable-header .datatable-header-cell {
    font-size: 14px;
    padding: 0.5rem 1.1rem;
}

.datatable-header {
  background: #f8f9fa !important;
    // color: white !important;
}

.ngx-datatable .datatable-header .datatable-header-cell .sort-btn {
    color: #0d6efd;
}

// .datatable-header-cell-label {
//     font-size: 13px !important;
// }

.datatable-header-cell {
    background: #f8f9fa !important;
    color: #000 !important;
    font-weight: bold !important;
}

.ngx-datatable.material .datatable-header {
    border: 1px solid #dee2e6;
}

.topClass {
    top: 50px !important;
}

.ngx-datatable .datatable-body .datatable-body-row > div {
    border-bottom: 1px solid #dee2e6;
}


.multiselect-dropdown .dropdown-btn .selected-item {
    font-size: 12px;
   // padding: 0px 2px;
    margin: 1px;


}

.dropdown-list {
    font-size: 12px;
}
.dropdown-btn {
    font-size: 13px;
}

.mcMark{
    background-color: #ffc107a8  !important;
    padding: 1px !important;
}

.centeringItems{
  width:auto;
  height: auto;
  display: flex;
 align-items: center;
 justify-content: center;
}

.modal {
    z-index: 99999 !important;
}


html .dateFilter::-webkit-input-placeholder { font-size: 11px; }
html .dateFilter:-moz-placeholder { font-size: 11px; }
html .dateFilter::-moz-placeholder { font-size: 11px; }
html .dateFilter:-ms-input-placeholder { font-size: 11px; }

.card-shadow{
	border-bottom-width: 0;
    // border: 2px solid  #5879e6;
    box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgba(9, 43, 77, 0.4);
    transform: scale(1.01);
    border-radius: 5px;
}

.input-error{
  font-size: 13px !important;

}
