<!-- <img class="imageHighlight"  (click)="viewImage(imageView)" [src]="imageURLs" [alt]="publicationNumber" width="100" >


<ng-template #imageView>
  <div class="">
    <div class="modal-header bg-light">
      <h4 class="modal-title"  *ngIf="(publicationNumber!=null||publicationNumber!=undefined)">Image View <span>-  {{publicationNumber}}</span> </h4>

      <h5 class="modal-title" *ngIf="(publicationNumber===null||publicationNumber===undefined)">Image View  <span >-  {{title}}</span></h5>

      <button  type="button" class="btn btn-md pull-right" data-dismiss="modal" aria-label="Close"
        (click)="modalRef.hide();">
        <span class="fs-5 fw-bold" aria-hidden="true" >&times;</span>
      </button>
    </div>
    <div class="modal-body p-2 text-center">
      <img  [src]="imageURLs" [alt]="publicationNumber" width="100%"  >

    </div>

  </div>
</ng-template> -->





<div (click)="viewImage(imageView)">


  <ng-container *ngIf="imageURLs.length>1">

    <ng-container *ngFor="let image of imageURLs;let imagein = index">
      <ng-container *ngIf="imagein>0&&imagein<=4">

        <ng-container *ngIf="image!==null||image!==undefined||image!==''">
          <ng-container *ngIf="image.includes('nextcloud')">

        <img class="me-1 mb-1 border" [ngClass]="{'ms-1 ': i>2}" [src]="image+'/preview'" [alt]="publicationNumber" width="21"
          height="21">
        </ng-container>
        <ng-container *ngIf="!image.includes('nextcloud')" >

          <img class="me-1 mb-1 border" [ngClass]="{'ms-1 ': i>2}" [src]="image" [alt]="publicationNumber" width="21"
            height="21">
          </ng-container>


        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
  <br>


  <ng-container *ngIf="imageURLs[0].includes('nextcloud')" >

  <img  class="imageHighlight "  *ngIf="imageURLs.length!==0" [src]="imageURLs[0]+'/preview'" [alt]="publicationNumber" width="100">
  </ng-container>
  <ng-container *ngIf="!imageURLs[0].includes('nextcloud')" >

    <img  class="imageHighlight "  *ngIf="imageURLs.length!==0" [src]="imageURLs[0]" [alt]="publicationNumber" width="100">
    </ng-container>


</div>



<ng-template #imageView>
  <div class="">
    <div class="modal-header bg-light">
       <h4 class="modal-title"  *ngIf="(publicationNumber!=null||publicationNumber!=undefined)"><span>{{publicationNumber}}</span> </h4>

      <div class="modal-title" *ngIf="(publicationNumber===null||publicationNumber===undefined)"> <span >{{title}}</span></div>


      <button type="button" class="btn btn-md  pull-right" data-dismiss="modal" aria-label="Close"
        (click)="modalRef.hide()">
        <span class="fs-5 fw-bold" aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body ">

      <div class="d-flex justify-content-between ">
        <button class="btn btn-sm btn-primary me-2" [disabled]="current===0" (click)="prev()"> <i
            class="fa fa-angle-left"></i></button>


        <div class="d-flex imagesSlider">
          <ng-container *ngFor="let iimage of imageURLs;let i = index">
             <ng-container *ngIf="iimage!==null||iimage!==undefined||iimage!==''">

              <ng-container *ngIf="iimage.includes('nextcloud')">
                <img class=" me-1 mb-2 border" style="cursor: pointer; " (click)="current=i" [ngClass]="{'imageHighlightSlider': current===i}"
                [src]="iimage+'/preview'" [alt]="publicationNumber" width="50" height="50">
                </ng-container>
                <ng-container *ngIf="!iimage.includes('nextcloud')" >

                  <img class=" me-1 mb-2 border" style="cursor: pointer; " (click)="current=i" [ngClass]="{'imageHighlightSlider': current===i}"
              [src]="iimage" [alt]="publicationNumber" width="50" height="50">
                  </ng-container>


            </ng-container>
          </ng-container>
        </div>


        <button class="btn btn-sm btn-primary ms-2" [disabled]="current===imageURLs.length-1" (click)="next()"> <i
            class="fa fa-angle-right"></i></button>
      </div>




      <ng-container *ngIf="imageURLs[current].includes('nextcloud')">
        <img class="border mt-2"  *ngIf="imageURLs.length!==0" [src]="imageURLs[current]+'/preview'" [alt]="publicationNumber" width="100%">

        </ng-container>
        <ng-container *ngIf="!imageURLs[current].includes('nextcloud')" >
          <img class="border mt-2"  *ngIf="imageURLs.length!==0" [src]="imageURLs[current]" [alt]="publicationNumber" width="100%">

          </ng-container>


    </div>

  </div>
</ng-template>
