.imageHighlight:hover {
  border: 0.15rem solid royalblue;
  cursor: pointer;
}

.imageHighlightSlider {
  border: 0.2rem solid royalblue !important;
  cursor: pointer;
  display: inline;
}

.badge {
  background-color: red;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 50%;
}

.imagesSlider {
  overflow-x: auto !important;
}
