<div class="card card-body bg-light p-0">

    <div class="mt-1 ms-1">

        <ng-container *ngIf="boolPreloader">
            <div class="my-4">

                <app-preloader [loader]="boolPreloader"></app-preloader>
            </div>
        </ng-container>



        <tabset *ngIf="!boolPreloader">


            <ng-container *ngFor="let data of graphData">

                <tab [active]="data.active" (selectTab)="data.active = true" (deselect)="data.active = false">

                    <ng-template tabHeading>
                        <small><i class="fas fa-chart-pie"></i> {{data.graphTitle}}</small>

                    </ng-template>


                    <ng-container *ngIf="data.active">

                        <ng-container [ngSwitch]="data.graphType">

                            <app-donut-graph *ngSwitchCase="'donut'" (sendGraphClick)="sendOutGraphClick($event)"
                                [chartData]="data"></app-donut-graph>
                            <app-donut-graph *ngSwitchCase="'donutByValues'"
                                (sendGraphClick)="sendOutGraphClick($event)" [chartData]="data"></app-donut-graph>
                            <app-column-graph *ngSwitchCase="'column'" (sendGraphClick)="sendOutGraphClick($event)"
                                [chartData]="data"> </app-column-graph>
                            <app-bar-graph *ngSwitchCase="'bar'" (sendGraphClick)="sendOutGraphClick($event)"
                                [chartData]="data"> </app-bar-graph>
                            <app-column-graph *ngSwitchCase="'columnMonth'" (sendGraphClick)="sendOutGraphClick($event)"
                                [chartData]="data"> </app-column-graph>
                            <app-column-graph *ngSwitchCase="'columnYear'" (sendGraphClick)="sendOutGraphClick($event)"
                                [chartData]="data"> </app-column-graph>
                            <app-map-graph *ngSwitchCase="'map'" (sendGraphClick)="sendOutGraphClick($event)"
                                [chartData]="data"> </app-map-graph>
                            <app-heat-map *ngSwitchCase="'heatMap'" (sendGraphClick)="sendOutGraphClick($event)"
                            [chartData]="data" ></app-heat-map>
                            <app-heat-map *ngSwitchCase="'heatMapDate'" (sendGraphClick)="sendOutGraphClick($event)"
                            [chartData]="data" ></app-heat-map>

                        </ng-container>

                    </ng-container>

                </tab>

            </ng-container>


        </tabset>

    </div>

</div>
