<div class="my-4">
  <app-preloader [loader]="loading"></app-preloader>
</div>

<div class="">

   <ng-container *ngIf="records.length >= 1">
    <ul class="list-group list-group-flush border-top border-bottom  ">

      <ng-container *ngFor="let record of records;  ">

        <li class="list-group-item p-0 mb-1 mt-1">
          <div class="">

            <div class="badge  bg-secondary text-white mb-1 small">
              <i [ngClass]="record.imageIcon"></i>

              {{record.type}}
            </div>


            <div>

              <ng-container>

                <a target="_blank" [href]="record['googleLink']" *ngIf="record['googleLink']">
                  <span>{{record['publicationNumber']}}</span>
                </a>


                <span [innerHTML]="record.publicationNumber | highlightText:highlightObj" *ngIf="!record['googleLink']">
                </span>
                -


                <a target="_blank" [href]="record['titleLink']" *ngIf="record['titleLink']">
                  <span [innerHTML]="record.title | highlightText:highlightObj">
                  </span>
                </a>


                <span [innerHTML]="record.title | highlightText:highlightObj" *ngIf="!record['titleLink']">
                </span>

              </ng-container>
            </div>

            <div class="small text-muted mb-2">
              <i>Release Date:</i> {{record['releaseDate']}}

            </div>


          </div>




        </li>




      </ng-container>

    </ul>


  </ng-container>

  <ng-container *ngIf="!loading && records.length < 1">

    <div class="my-5 text-center">

      No records found.

    </div>

  </ng-container>

</div>
