<app-header> </app-header>

<main class="  " style="min-height: 80vh; ">



  <router-outlet></router-outlet>
  
  <a *ngIf="isShow" type="button" class="btn btn-dark btn-sm text-white backTopTop" (click)="gotoTop()">
    <em class="fas fa-angle-up me-2"></em>Back to top</a>

</main>


<app-footer></app-footer>

