<div *ngIf="!noRecords">


  <div class="row">
    <div class="col-md-9">


    <div class="py-1 bg-white text-end me-2">
        <small><i class="fas fa-info-circle"></i> Click on the graph points to see filtered data </small>
    </div>


    <highcharts-chart [Highcharts]="Highcharts" [constructorType]="chartConstructor" [options]="chartOptions"
        style="width: 100%; height: 400px; display: block;">

    </highcharts-chart>

  </div>
  <div class="col-md-3">

    <div class="card card-shadow">
      <div class="card-body">
        <div class="row">

        </div>
        <div class="row">
          <div class="table-responsive mt-2 ml-3 mr-3">
            <table class="table table-centered table-bordered table-sm stickyHead">
              <thead class="table-header-style-bdmodule">
                <!-- <tr> -->
                <th scope="col"> Country</th>
                <th scope="col"> Count </th>
                <!-- </tr> -->
              </thead>
              <tbody>
                 <ng-container>
                    <tr *ngFor="let item of countrywithCodes" >
                    <td><a [routerLink]="" (click)="clickBars({point:{name:item.country}})" >{{ item.country}}</a></td>
                    <td>{{ item.count}}</td>


                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
</div>

<div *ngIf="countrywithCodes.length==0">

    <div style="height: 150px;" class="text-center bg-white">

        <h5 class="p-5">No data found</h5>

    </div>

</div>


