<div class="container-fluid ">

  <div class="row p-1 my-2">

    <div class="col-md-12">

      <div class="row">

        <div class="col-md-8   offset-2 mb-2">
           <app-basic-search (sendBasicText)="onBasicSearch($event)" (sendClickMainReset)="onMainReset()"
            [boolPreloader]="boolPreloader" heading="Start Your Search" placeholder="Enter Patent Fields or Keywords">
          </app-basic-search>

        </div>

      </div>


      <hr>

    </div>


    <div class="col-md-2 ">

      <div style="top: 55px" class="sticky-top">



        <!--
                <app-global-facets (sendSelFacets)="onFacetsSelcted($event)" [resetBool]="mainResetBool"
                    [inputFacets]="dataFacets" (sendClickReset)="onFilterReset()">
                </app-global-facets> -->

        <app-facets (sendSelFacets)="onFacetsSelcted($event)" [resetBool]="mainResetBool" [inputFacets]="dataFacets"
          (sendClickReset)="onFilterReset()">
        </app-facets>



      </div>

    </div>

    <div class="col-md-10">
      <div class=" mb-2">




        <div class="row mb-2">
          <div class="col-md-auto">
            <div class="form-check form-switch mt-2">
              <input [(ngModel)]="showGraph" name="numericToggle" type="checkbox" class="form-check-input"
                id="customSwitch1">
              <label class="form-check-label" for="customSwitch1">Visualization

                <ng-container *ngIf="showGraph fw-bold">
                  <small class="text-success fw-bold">(ON)</small>
                </ng-container>

                <ng-container *ngIf="!showGraph">
                  <small class="text-danger fw-bold">(OFF)</small>
                </ng-container>
              </label>
            </div>

          </div>







          <ng-container *ngIf="!showGraph">

            <div class="col-md-1">
              <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" [(ngModel)]="viewTable" value="table" name="btnradio"
                  id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-primary" tooltip="Table View" for="btnradio1">
                  <i class="fas fa-table"></i>
                </label>

                <input type="radio" class="btn-check" [(ngModel)]="viewTable" value="list" name="btnradio"
                  id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-success" tooltip="List View" for="btnradio2">
                  <i class="fas fa-list"></i>

                </label>

              </div>

            </div>

            <div class="col-md">
              <div *ngIf="exportStatus">
                  <button [disabled]="boolPreloaderExport" (click)="onGlobalDataExportAPI()"
                      class="btn btn-outline-primary">
                      <ng-container *ngIf="!boolPreloaderExport">
                          <i class="fas fa-file-export"></i> Export
                      </ng-container>
                      <ng-container *ngIf="boolPreloaderExport">
                          <span class="spinner-grow spinner-grow-sm" role="status"
                              aria-hidden="true"></span>
                          loading...
                      </ng-container>
                  </button>
              </div>


          </div>


            <div class="col-md-5">
              <app-pagination [receiveTotalItems]="total" [resetBool]="paginateResetBool"
                (sendProps)="onPaginate($event)"></app-pagination>

            </div>

          </ng-container>

        </div>



        <div [style.display]="showGraph ? 'block' : 'none' " class="mb-3">

          <app-global-graph-builder #globalGraphBuilder [clientId]="currentProjectId"
            (onGraphBuild)="onGraphSubmit($event)" (sendGraphClick)="onGraphClick($event)"
            (onGraphReset)="graphClear($event)" [graphData]="graphData" [boolPreloaderGraph]="boolPreloaderGraph">
          </app-global-graph-builder>
        </div>

        <div id="borderGraphTable"></div>

        <ng-container *ngIf="showGraph">
          <div class="row mb-2">

            <div class="col-md-1">
              <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" [(ngModel)]="viewTable" value="table" name="btnradio"
                  id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-primary" tooltip="Table View" for="btnradio1">
                  <i class="fas fa-table"></i>
                </label>

                <input type="radio" class="btn-check" [(ngModel)]="viewTable" value="list" name="btnradio"
                  id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-success" tooltip="List View" for="btnradio2">
                  <i class="fas fa-list"></i>

                </label>

              </div>

            </div>


            <div class="col-md-auto">
              <div *ngIf="exportStatus">
                  <button [disabled]="boolPreloaderExport" (click)="onGlobalDataExportAPI()"
                      class="btn btn-outline-primary">
                      <ng-container *ngIf="!boolPreloaderExport">
                          <i class="fas fa-file-export"></i> Export
                      </ng-container>
                      <ng-container *ngIf="boolPreloaderExport">
                          <span class="spinner-grow spinner-grow-sm" role="status"
                              aria-hidden="true"></span>
                          loading...
                      </ng-container>
                  </button>
              </div>


          </div>



            <div class="col-md">
              <ng-container *ngIf="(graphClickFilter | json) != '{}'">
                <small>
                  <i class="fas text-success fa-chart-pie"></i>
                  <ng-container *ngFor="let item of graphClickFilter | keyvalue">
                    <b class="text-captialize">
                      {{item.key}}</b> : {{item.value}};

                  </ng-container>
                </small>

                <button tooltip="Remove graph filter" (click)="resetGraphFilters()" class="btn btn-secondary ms-1">
                  <i class="fas fa-times"></i>
                </button>

              </ng-container>

            </div>

            <div class=" col-md-5">
              <app-pagination [receiveTotalItems]="total" [resetBool]="paginateResetBool"
                (sendProps)="onPaginate($event)"></app-pagination>

            </div>
          </div>

        </ng-container>


        <div style="min-height:200px;">


          <ng-container *ngIf="viewTable == 'table' ">
            <app-gloabl-list [loading]="boolPreloader" [highlightObj]="highlightObj" [records]="dataRecords">
            </app-gloabl-list>

          </ng-container>

          <ng-container *ngIf="viewTable == 'list' ">
            <app-global-card [loading]="boolPreloader" [projectConfigs]="swiftProjects" [highlightObj]="highlightObj"
              [records]="dataRecords">
            </app-global-card>
          </ng-container>

        </div>




      </div>



    </div>

  </div>


</div>
