<div class="text-md-end ">
    <div class="d-inline-block" >
        Total Records: <b> {{receiveTotalItems}}</b> - 
        <span style="padding: 0px;"> Go to <b>Page</b> &nbsp;</span>

        <input type="text" min="1" (change)="onGoPage($event);" class="form-control-sm go_to_input col-md-1"
            [(ngModel)]="currentPage" aria-label="goto" title="goto" />
        - {{totalPages}} &nbsp;

        <button class="btn btn-primary prev"  [class.disabled]="currentPage <=1"
            (click)="!(currentPage <=1) && prev($event)" aria-label="left">
            <i class="fa fa-angle-left"></i></button>
        &nbsp;

        <button class="btn btn-primary prev"
            [class.disabled]="currentPage >= totalPages" (click)="!(currentPage >= totalPages) && next($event)"
            aria-label="right">
            <i class="fa fa-angle-right"></i>
        </button>
    </div>
</div>
