<div class="container-fluid ">

    <div class="row p-1 my-2">



        <div class="col-md-2 ">

            <div style="top: 55px" class="sticky-top mt-3">

    
             
                <app-global-facets (sendSelFacets)="onFacetsSelcted($event)" 
                     [inputFacets]="dataFacets" (sendClickReset)="onFilterReset()">
                </app-global-facets>
            </div>

        </div>

        <div class="col-md-10">
            <div class=" mb-2">
                <div class="container-fluid my-2">
                    <div class="row">
                        <accordion [isAnimated]="true">
                            <accordion-group class="my-2" [isOpen]="true" #accGroup1>
                                <span accordion-heading>
                                    <h5 class="d-inline-block mt-2" style="color: #0070c0;">OVERALL SUMMARY</h5>
                                    <button class="btn btn-light float-end">
                                        <i class="fa"
                                            [ngClass]="{'fa-angle-down': accGroup1?.isOpen, 'fa-angle-right': !accGroup1?.isOpen}"></i>
                                    </button>
                                </span>

                                <div class="row" >

                                    <div  *ngIf="boolPreloader" class="my-4">
                                        <app-preloader [loader]="boolPreloader"></app-preloader>
                                    </div>

                                    <div *ngIf="!boolPreloader">
                                        <app-donut-chart [chartData]="data" [chartId]="'donutChart'"></app-donut-chart>
                                    </div>
                                   
                                </div>
                            </accordion-group>


                            <div>
                                <tabset>
                                    <ng-container *ngFor="let each of dataRecords">

                                        <tab id="tab1">

                                            <ng-template tabHeading>
                                                <i class="fas fa-calendar-day"></i>
                                                {{each.releaseDate}}
                                            </ng-template>

                                            <div class="border border-top-0 p-2"
                                                [innerHTML]="each.htmlObject | safeHtml"></div>


                                        </tab>
                                    </ng-container>

                                </tabset>
                            </div>






                        </accordion>
                    </div>
                </div>

            </div>



        </div>

    </div>


</div>