<form [formGroup]="graphForm" (ngSubmit)="onSubmit()">

  <div class="row">

    <div class="col-md-8">

      <div class="row">


        <div class="col-md-6 mb-2">
          <label for="graphFieldYear1" class="form-label">Choose Year Field (X Axis)</label>
          <select class="form-select" [ngClass]="{ 'is-invalid': submitted && f.graphYear1.errors }"
            formControlName="graphYear1" id="graphFieldYear1">
            <option value="" selected>Choose...</option>

            <ng-container *ngFor="let each of dataHeaders">
              <option *ngIf="each.dataType == 'Date'" [value]="each.fieldName">{{each.displayName}}
              </option>

            </ng-container>

          </select>

          <div *ngIf="submitted && f.graphYear1.errors" class="invalid-feedback">
            <div *ngIf="f.graphYear1.errors.required">Field is required</div>
          </div>
        </div>

        <div class="col-md-6 mb-2">

          <label for="graphRangeInput1" class="form-label">Year Range</label>


          <input class="form-control dateFilter" id="graphRangeInput1"
            [ngClass]="{ 'is-invalid': submitted && f.fieldRange1.errors }" #drp="bsDaterangepicker"
            formControlName="fieldRange1" placeholder="DD/MM/YYYY - DD/MM/YYYY"
            [bsConfig]="{ rangeInputFormat: 'DD/MM/YYYY', showWeekNumbers: false, showPreviousMonth: true ,containerClass: 'theme-dark-blue' }"
            bsDaterangepicker placement="left">

          <div *ngIf="submitted && f.fieldRange1.errors" class="invalid-feedback">
            <div *ngIf="f.fieldRange1.errors.required">Year Range is required</div>
          </div>

        </div>

        <div class="col-md-6">
          <label for="graphFieldRangeForm2" class="form-label">Choose Field (Y Axis)</label>
          <select (change)="onField2Change()" class="form-select"
            [ngClass]="{ 'is-invalid': submitted && f.graphField2.errors }" formControlName="graphField2"
            id="graphFieldRangeForm2">
            <option value="" selected>Choose...</option>

            <ng-container *ngFor="let each of dataHeaders">
              <option *ngIf="each.dataType == 'String'" [value]="each.fieldName">{{each.displayName}}
              </option>

            </ng-container>

          </select>

          <div *ngIf="submitted && f.graphField2.errors" class="invalid-feedback">
            <div *ngIf="f.graphField2.errors.required">Field is required</div>
          </div>
        </div>

        <div class="col-md-6">
          <label for="fieldValuesNewField2" class="form-label">Choose Values

            <ng-container *ngIf="boolPreloaderAutosuggestMulti2">
              <div class="spinner-border spinner-border-sm ms-2" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow spinner-grow-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </ng-container>

            <select name="prefixSelectors" id="Selectors" *ngIf="dataAutosuggestListMulti2.length>0" (change)="selectTopItems($event)" >
              <option disabled>Select</option>
              <option [value]="item.value" *ngFor="let item of prefixSelctors">{{item.label}}</option>

            </select>


          </label>

          <div class="bg-white">
            <ng-multiselect-dropdown [ngClass]="{ 'is-invalid': submitted && f.fieldValues2.errors }" class="bg-white"
              name="fieldValuesFormNewfield2" id="fieldValuesNewField2"
              [disabled]="boolPreloaderAutosuggestMulti2 || !f.graphField2.value" [placeholder]="'Select'"
              [data]="dataAutosuggestListMulti2" formControlName="fieldValues2" [settings]="dropdownSettings">
            </ng-multiselect-dropdown>

            <div *ngIf="submitted && f.fieldValues2.errors" class="invalid-feedback bg-light">
              <div *ngIf="f.fieldValues2.errors.required">Values are required</div>
            </div>
          </div>


        </div>

      </div>

    </div>


    <div class="col-md-4 ">
      <div class="row">
        <div class="col-12" style="margin-bottom: 12%;">

          <label for="graphDatapatternForm" class="form-label">GroupBy</label>
          <select  class="form-select"
            [ngClass]="{ 'is-invalid': submitted && f.graphDataPattern.errors }" formControlName="graphDataPattern"
            id="graphFieldRangeForm2">
            <option value="" selected>Choose...</option>

            <ng-container>
              <option value="month">Monthly</option>
              <option value="year">Yearly</option>

            </ng-container>

          </select>

          <div *ngIf="submitted && f.graphDataPattern.errors" class="invalid-feedback">
            <div *ngIf="f.graphDataPattern.errors.required">GroupBy is required</div>
          </div>


        </div>
        <div class="col-12">
          <button type="submit" [disabled]="!(graphForm.touched ||  graphForm.dirty) || boolPreloaderGraph"
            class="btn btn-primary">Submit</button>
          <button (click)="onReset()" type="reset" [disabled]="boolPreloaderGraph"
            class="ms-2 btn btn-outline-secondary">Clear</button>

        </div>


      </div>




    </div>


  </div>
