<div class="border bg-light p-2">

    <h5 class="mb-3">Graph Builder</h5>

    <form [formGroup]="graphForm" class="row g-3 mb-3">
        <div class="col-md-3">

            <label for="formGraphType" class="form-label">Choose Graph Type</label>
            <select class="form-select" formControlName="graphType" id="formGraphType" (change)="dataReset($event)">
                <option selected value="">Choose...</option>
                <option value="bar">Bar chart</option>
                <option value="barYear">Bar chart - Date wise</option>
                <option value="HeatMap">Heat map</option>
                <option value="HeatMapYear">Heat map - Date wise</option>
                <option value="BubbleChart">Bubble chart</option>

            </select>


        </div>

        <div class="col-md-9">


            <ng-container *ngIf="f.graphType.value == 'bar'">

                <app-form-bar-chart [clientId]="clientId" [boolPreloaderGraph]="boolPreloaderGraph"
                    [dataHeaders]="dataHeaders" (onGraphBuild)="onGraphBuilderSubmit($event)"
                    (onGraphReset)="onReset()"></app-form-bar-chart>

            </ng-container>

            <ng-container *ngIf="f.graphType.value == 'barYear'">

                <app-form-bar-year-chart [clientId]="clientId" [boolPreloaderGraph]="boolPreloaderGraph"
                    [dataHeaders]="dataHeaders" (onGraphBuild)="onGraphBuilderSubmit($event)"
                    (onGraphReset)="onReset()"></app-form-bar-year-chart>


            </ng-container>

            <ng-container *ngIf="f.graphType.value == 'HeatMap' ">

                <app-form-heatmap-chart [clientId]="clientId" typeChart="HeatMap"  [graphType]="'HeatMap'" field1PlaceHolder="X Axis"
                    field2PlaceHolder="Y Axis" [boolPreloaderGraph]="boolPreloaderGraph" [dataHeaders]="dataHeaders"
                    (onGraphBuild)="onGraphBuilderSubmit($event)" (onGraphReset)="onReset()"></app-form-heatmap-chart>

            </ng-container>

            <ng-container *ngIf="f.graphType.value == 'HeatMapYear' ">

                <app-form-heatmap-year-chart [clientId]="clientId" typeChart="BubbleChart"
                    [boolPreloaderGraph]="boolPreloaderGraph" [dataHeaders]="dataHeaders"
                    (onGraphBuild)="onGraphBuilderSubmit($event)" (onGraphReset)="onReset()">
                </app-form-heatmap-year-chart>

            </ng-container>

            <ng-container *ngIf="f.graphType.value == 'BubbleChart' ">

                <app-form-heatmap-chart [clientId]="clientId" [typeChart]="'BubbleChart'"  [graphType]="'BubbleChart'"   field1PlaceHolder="Parent Bubble"
                    field2PlaceHolder="Children" [boolPreloaderGraph]="boolPreloaderGraph" [dataHeaders]="dataHeaders"
                    (onGraphBuild)="onGraphBuilderSubmit($event)" (onGraphReset)="onReset()"></app-form-heatmap-chart>

            </ng-container>

        </div>




    </form>

    <div class="border-top bg-white">

        <ng-container *ngIf="boolPreloaderGraph">
            <div class="p-5 ">

                <app-preloader [loader]="boolPreloaderGraph"></app-preloader>
            </div>
        </ng-container>

        <ng-container *ngIf="!boolPreloaderGraph">

            <ng-container [ngSwitch]="f.graphType.value">

                <app-global-bar-chart *ngSwitchCase="'bar'" [graphType]="'bar'"  (sendGraphClick)="sendOutGraphClick($event)"
                    [chartData]="graphData">
                </app-global-bar-chart>

                <app-global-bar-chart *ngSwitchCase="'barYear'"  [graphType]="'barYear'" (sendGraphClick)="sendOutGraphClick($event)"
                    [chartData]="graphData">
                </app-global-bar-chart>

                <app-global-heat-map *ngSwitchCase="'HeatMap'" [graphType]="'HeatMap'"  (sendGraphClick)="sendOutGraphClick($event)"
                    [chartData]="graphData">
                </app-global-heat-map>

                <app-global-heat-map *ngSwitchCase="'HeatMapYear'"  [graphType]="'HeatMapYear'" (sendGraphClick)="sendOutGraphClick($event)"
                    [chartData]="graphData">
                </app-global-heat-map>

                <app-global-bubble-chart *ngSwitchCase="'BubbleChart'" (sendGraphClick)="sendOutGraphClick($event)"
                    [chartData]="graphData"></app-global-bubble-chart>

                <app-global-bar-chart *ngSwitchDefault (sendGraphClick)="sendOutGraphClick($event)"
                    [chartData]="graphData">
                </app-global-bar-chart>


            </ng-container>
        </ng-container>

    </div>


</div>
