<div class="d-flex justify-content-between mb-2">

  <button [ngClass]="added ? 'btn-success' : 'btn-outline-success' " class="   btn btn-sm" (click)="onApplyFilter()">
    <i class="fas fa-check-square"></i> Apply Filters

  </button>

  <button (click)="onReset()" class="btn btn-sm btn-outline-dark ">
    <i class="fas fa-undo"></i>
    Clear

  </button>


</div>

<accordion *ngIf="inputFacets.length >= 1" [closeOthers]="false" [isAnimated]="true">



  <ng-container *ngFor="let facet of inputFacets; let first = first">


    <accordion-group panelClass=" customClass mb-2" [isOpen]="true">

      <button class="btn  text-dark clearfix p-0" accordion-heading type="button">
        <div class="pull-left small text-start">
          <i [ngClass]="selectedTab == facet.facetKey ? 'fa-angle-double-up' : 'fa-angle-double-down'" class="fa "></i>
          {{facet.facetDisplayName}}
        </div>
      </button>



      <div class="blockOver small">
        <ng-container *ngFor="let each  of facet.value; let i = index">

          <div class="form-check">
            <input class="form-check-input" id="{{each.key}}" [checked]="each.isChecked"
              (change)="onChange(each,  $event.target.checked, i)" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label " for="{{each.key}}">

              {{each.key }}

              <span *ngIf="each.doc_count" class="text-muted">({{each.doc_count}})</span>

            </label>
          </div>

        </ng-container>
      </div>

    </accordion-group>




  </ng-container>

</accordion>
