<div class=" bg-dark">
  <header class="d-flex flex-wrap   justify-content-center py-1 ">
    <a href="https://ipr.molecularconnections.co/" target="_blank"
      class="d-flex align-items-center  my-1 me-md-auto text-decoration-none">

      <img src="./assets/images/icubefinalblackbg.png" class="ms-2" alt="" height="45">
    </a>


    <div>

      <div *ngIf="isLoggedIn" class="btn-group btn-sm mt-1 me-2" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-light
          btn-sm dropdown-toggle" aria-controls="dropdown-basic">
          <i class="fas fa-user ml-1"></i> Welcome, {{userName}} [<small
            *ngIf="saveClientProjectName">{{saveClientProjectName}}</small>]
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
          aria-labelledby="button-basic">


          <li role="button"><a class="dropdown-item" (click)="openModal(reset);this.changePasswordForm.reset()">
              <i class="fas fa-key"></i> Change password</a>
          </li>
          <li *ngIf="clientProjects.length > 1" role="button"><a class="dropdown-item"
              (click)="openSelectProjectModal(select)">
              <i class="fas fa-file"></i> Change project</a>
          </li>


          <li role="menuitem"><a class="dropdown-item" routerLink="/auth/logout" href="javascript:void(0)">
              <i class="fas fa-sign-out-alt"></i> Logout</a>
          </li>

        </ul>
      </div>
    </div>

  </header>

</div>

<div class="nav-scroller border-bottom topBarSticky sticky-top  bg-light shadow-sm">
  <nav *ngIf="selectedClientProject" class="nav nav-underline" aria-label="Secondary navigation">
    <a [routerLink]="['/projects/' + selectedClientProject + '/dashboard']" [routerLinkActive]="['active']"
      class="nav-link">
      <i class="fas fa-home"></i> Dashboard</a>



    <a [routerLink]="['/projects/' + selectedClientProject + '/search']" [routerLinkActive]="['active']"
      class="nav-link">
      <i class="fas fa-search"></i> Global Search</a>

    <a [routerLink]="['/projects/'+selectedClientProject +'/executive-summary']" [routerLinkActive]="['active']"
      class="nav-link">
      <i class="fas fa-book"></i> Executive Summary</a>

    <a *ngIf="boolPreloaderProj" class="nav-link">
      <div class="spinner-border spinner-border-sm" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow spinner-grow-sm" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </a>



    <ng-container *ngIf="swiftProjects.length >= 1">
      <ng-container *ngFor="let proj of swiftProjects">

        <app-header-proj [swiftdata]="proj" [currentProjectId]="selectedClientProject"></app-header-proj>

      </ng-container>

    </ng-container>



  </nav>
</div>






<ng-template #reset>

  <div class="modal-draggable">
    <div class="modal-header">
      <h4 class="modal-title pull-left text-center">Change Password</h4>

    <span (click)="modalRef.hide()"  class="pull-right">   <i class="fa fa-times"></i></span>

    </div>
    <div class="modal-body">
      <div class="container">
        <div class="row">
          <!-- <div class="col-sm-2"></div> -->

          <div class="col-sm-12">
            <form [formGroup]="changePasswordForm" class="mt-2" (ngSubmit)="resetPassword()" autocomplete="off">
              <div class="form-group p-2">

                <label for="email">Old Password<span class="text-danger">*</span></label>

                <div class="input-group">
                  <input type="text" formControlName="oldPassword" class="form-control"
                    placeholder="Please enter Old Password"
                    [ngClass]="{ 'is-invalid': f.oldPassword.touched && f.oldPassword.errors }" aria-label=" Old Password"
                    aria-describedby="basic-addon2" [type]="passwordIconState.oldPass ? 'password' : 'text'">
                  <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" (click)="hideShowEye('oldPass')"><i
                        style="color: black;" [ngClass]="passwordIconState.oldPass ? 'fa fa-eye-slash ' : 'fa fa-eye'"
                        aria-hidden="true"></i></button>
                  </div>
                </div>


                <div *ngIf="f.oldPassword.touched && f.oldPassword.errors " class="text-danger">
                  <div *ngIf="f.oldPassword.errors.required"><span class="input-error">Old Password is required</span>  </div>
                    <div *ngIf="f.oldPassword.errors.minlength"><span class="input-error">Password should be minimum of 6
                      characters</span></div>

                </div>
              </div>

              <div class="form-group p-2">
                <label for="email">New Password <span class="text-danger">*</span></label>

                <div class="input-group">


                  <input type="Password" formControlName="newPassword" autocomplete='new-password'
                    class="form-control main-input" placeholder="Please enter New Password"
                    [type]="passwordIconState.newPass ? 'password' : 'text'"
                    [ngClass]="{ 'is-invalid': f.newPassword.touched && f.newPassword.errors }" />

                  <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" (click)="hideShowEye('newPass')"><i
                        style="color: black;" [ngClass]="passwordIconState.newPass ? 'fa fa-eye-slash ' : 'fa fa-eye'"
                        aria-hidden="true"></i></button>
                  </div>
                </div>
                <div *ngIf="f.newPassword.touched && f.newPassword.errors" class="text-danger">
                  <div *ngIf="f.newPassword.errors.required"><span class="input-error">New Password is required</span></div>
                  <div *ngIf="f.newPassword.errors.minlength"><span class="input-error">Password should be minimum of 6
                    characters</span></div>
                   </div>
              </div>

              <div class="form-group p-2">
                <label for="email">Confirm Password <span class="text-danger">*</span></label>

                <div class="input-group">

                  <input type="password" formControlName="confirmPassword" placeholder="Please Confirm Password"
                    class="form-control main-input" [type]="passwordIconState.confirmPass ? 'password' : 'text'"
                    [ngClass]="{ 'is-invalid': f.confirmPassword.touched && f.confirmPassword.errors  }" />

                  <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" (click)="hideShowEye('confirmPass')"><i
                        style="color: black;"
                        [ngClass]="passwordIconState.confirmPass ? 'fa fa-eye-slash ' : 'fa fa-eye'"
                        aria-hidden="true"></i></button>
                  </div>
                </div>

                <div *ngIf="f.confirmPassword.touched && f.confirmPassword.errors" class="text-danger">
                  <div *ngIf="f.confirmPassword.errors.required"><span class="input-error">Confirm Password is
                      required</span></div>
                      <div *ngIf="f.confirmPassword.errors.minlength"><span class="input-error">Password should be minimum of 6
                        characters</span></div>
                   <div *ngIf="f.confirmPassword.errors.mustMatch"><span class="input-error">Passwords must match</span>
                  </div>
                </div>
              </div>

              <div class="form-group text-center">
                <button type="submit" class="btn btn-primary buttonDeault"
                [disabled]="this.changePasswordForm.invalid" >Save
                 <ng-container *ngIf="loading">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  <span class="sr-only">Please wait...</span>
                </ng-container>
              </button>
              </div>



            </form>

          </div>

        </div>
      </div>

    </div>
  </div>
</ng-template>



<ng-template #select>
  <div class="modal-header">
    <h4 class="modal-title pull-left text-center">Change Project</h4>
    <button type="button" class="btn btn-secondary close pull-right" aria-label="Close" (click)="closeClientModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-5">
    <!-- <div class="card"> -->
    <!-- <div class="row col-md-12"> -->
    <ng-select [(ngModel)]="selectedProject" placeholder="Select Project">
      <ng-option *ngFor="let project of clientProjects" [value]="project.projectId">{{project.name}}</ng-option>
    </ng-select>
    <button class="btn btn-primary w-100 mt-3" (click)="saveClient()">Submit</button>
    <!-- </div> -->
    <!-- </div> -->
  </div>
</ng-template>
